In [2]:
d = {}
print(type(d))

<class 'dict'>

In [4]:
# -Indexing
# -Ordered
# -Duplicate Values Only no key
# -Mutable

In [5]:
# d = {<key>:<value>,<key>:<value>,...}

In [8]:
d = {"a":"Apple","b":"Ball","c":"Cat"} #called items or elements
e = {1:"Apple",2:"Ball",3:"cat"}
print(type(d))
print(len(d))
print(type(e))

<class 'dict'>
3
<class 'dict'>

In [9]:
print(d["a"])

Apple

In [10]:
d = {"a":"Apple","b":"Ball","c":"Cat"} #called items or elements
e = {1:1,2:2,3:3}
print(type(d))
print(len(d))
print(type(e))

<class 'dict'>
3
<class 'dict'>

In [11]:
print(d[1:3]) #no slcing

TypeError: unhashable type: 'slice'

In [12]:
d = {"a":"Apple","b":"Ball","c":"Cat"} #called items or elements
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [14]:
d = {"a":"Apple","b":"Ball","c":"Cat"} #called items or elements
e = {1:"Apple",2:"Ball",3:"cat"}
d.update(e) #concatination 
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 1: 'Apple', 2: 'Ball', 3: 'cat'}

In [17]:
d = {"a":"Apple","b":"Ball","c":"Cat","a":"Apple"} #called items or elements
d
d = {"a":"Apple","b":"Ball","c":"Cat","A":"Apple"} #no duplicate key
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [20]:
a = {}
a['a'] = 'Apple'
a['b'] = 'Ball' #application 
a['a'] = 'Ant'
a

{'a': 'Ant', 'b': 'Ball'}

In [21]:
d = {}
for i in range(1,6): #application
    d[i] = i**2
    
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name ") #way to create dictionary
    phone = input("Enter phone = ")
    key = name
    value = phone
    d[key] = value
print(d)

Enter n = 2
Enter name Ram
Enter phone = 26586
Enter name Shyam
Enter phone = 2535
{'Ram': '26586', 'Shyam': '2535'}

In [24]:
d = [("Ram", "9856655452"),("Shyam", "2565532")]
dict(d)

{'Ram': '9856655452', 'Shyam': '2565532'}

In [30]:
d = [("Ram", "9856655452"),("Shyam", "2565532")]
a["GAVai"] = 998899
a

{'a': 'Ant', 'b': 'Ball', 'GAVai': 998899}

In [31]:
for i in a:
    print(i)

a
b
GAVai

In [33]:
for i in a.values(): #values
    print(i)

Ant
Ball
998899

In [34]:
for i in a.items():
    print(i)

('a', 'Ant')
('b', 'Ball')
('GAVai', 998899)

In [35]:
a.items()

dict_items([('a', 'Ant'), ('b', 'Ball'), ('GAVai', 998899)])

In [36]:
a.values()

dict_values(['Ant', 'Ball', 998899])

In [37]:
a = {('Ram'): '9856655452', ('Shyam'): '2565532'} #only tuple inside not list
a

{'Ram': '9856655452', 'Shyam': '2565532'}

In [38]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name ") #way to create dictionary
    ntc = input("Enter phone = ")
    ncell = input("Enter phone = ") #way to multiple value
    key = name
    value = f"{ntc} {ncell}"
    d[key] = value
print(d)

Enter n = 2
Enter name ram
Enter phone = 25665
Enter phone = 2356
Enter name shyam
Enter phone = 235
Enter phone = 653
{'ram': '25665 2356', 'shyam': '235 653'}

In [40]:
name = input("Enter name = ")
x = d[name]
print(x.split())

Enter name = ram
['25665', '2356']

In [41]:
# a = {'ram': ['25665 2356'], 'shyam': ['235 653']} #list inside dict
# a 
# #dict inside list (shortcut)
# a = [{"Name":"Ram","Ntc"}]
# #tuple iside dict
# {'ram': ('25665 2356'), 'shyam': ('235 653')}
# #dict inside tuple
# ('ram': {'25665 2356'}, 'shyam': ('235 653'})
# #dict inside dict
#  a = {'ram': {'25665 2356'}, 'shyam': {'235 653'}}

{'ram': ['25665 2356'], 'shyam': ['235 653']}

In [2]:
a = {'ram': ['25665 2356'], 'shyam': ['235 653']}

In [4]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name ") #way to create dictionary
    ntc = int(input("Enter phone = "))
    ncell = int(input("Enter phone = ")) #way to multiple value
    key = name
    value = [ntc,ncell]
    d[key] = value
print(d)

Enter n = 2
Enter name ram
Enter phone = 25655
Enter phone = 52658
Enter name hari
Enter phone = 2356
Enter phone = 56585
{'ram': [25655, 52658], 'hari': [2356, 56585]}

In [3]:
a = {'ram': [8556555, 582254]}
a['ram'].append(9989889)
print(a)

{'ram': [8556555, 582254, 9989889]}

In [5]:
a = {'ram': [25655, 52658], 'hari': [2356, 56585]}
a["Sita"] = [899888,9898889]
a

{'ram': [25655, 52658], 'hari': [2356, 56585], 'Sita': [899888, 9898889]}

In [6]:
a = {'ram': [25655, 52658], 'hari': [2356, 56585]}
a["Sita"] = [899888,9898889]
del a["Sita"]
print(a)

{'ram': [25655, 52658], 'hari': [2356, 56585]}

In [8]:
a = {'ram': [25655, 52658], 'hari': [2356, 56585], 'Sita': [899888, 9898889]}
a.pop["Sita"]
print(a)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [11]:
a = [{'ram': 52658}, {'Hari': 52658}]
for i in a:
    print(i)

{'ram': 52658}
{'Hari': 52658}

In [12]:
a = [{'ram': 52658}, {'Hari': 52658}]
for i in a:
    for j in i.items()""
    print(j)

SyntaxError: invalid syntax (<ipython-input-12-7be3236e4ed4>, line 3)

In [13]:
a = [{'ram': 52658}, {'Hari': 52658}]
x = {'sflsfsam': 52658}
a.append(x)
print(a)

[{'ram': 52658}, {'Hari': 52658}, {'sflsfsam': 52658}]

In [14]:
a = [{'ram': 52658}, {'Hari': 52658}, {'sflsfsam': 52658}]
print(a[0])

{'ram': 52658}

In [17]:
a = [{'ram': 52658}, {'Hari': 52658}, {'sflsfsam': 52658}]
a[0]["Name"] = "Ram Prasadsf"
a

[{'ram': 52658, 'Name': 'Ram Prasadsf'}, {'Hari': 52658}, {'sflsfsam': 52658}]

In [18]:
a = [{'ram': 52658}, {'Hari': 52658}, {'sflsfsam': 52658}]
del a[2]
a

[{'ram': 52658}, {'Hari': 52658}]

In [20]:
a = [{'ram': 52658}, {'Hari': 52658}, {'sflsfsam': 52658}]
del a[2][sflsfsam]
a

NameError: name 'sflsfsam' is not defined

In [21]:
#dict inside dicyt
a = {1:{'ram': '25665 2356'}, 
     2: {shyam': '235 653'}}

SyntaxError: invalid syntax (<ipython-input-21-54aa53b51133>, line 3)

In [22]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell = "))
    key = i
    value = {"Name":name,"ntc":ntc,"ncell":ncell}
    d[key] = value
print(d)

Enter n = 2
Enter name = Santosh
Enter ntc = 56855
Enter ncell = 26535
Enter name = Hari
Enter ntc = 565235
Enter ncell = 5625654
{1: {'Name': 'Santosh', 'ntc': 56855, 'ncell': 26535}, 2: {'Name': 'Hari', 'ntc': 565235, 'ncell': 5625654}}

In [24]:
for i in d.values():
    print(i)

{'Name': 'Santosh', 'ntc': 56855, 'ncell': 26535}
{'Name': 'Hari', 'ntc': 565235, 'ncell': 5625654}

In [26]:
d[1]["Name"]

'Santosh'

In [27]:
d[1]

{'Name': 'Santosh', 'ntc': 56855, 'ncell': 26535}

In [29]:
d[1]["Name"] = "Balram"
d

{1: {'Name': 'Balram', 'ntc': 56855, 'ncell': 26535},
 2: {'Name': 'Hari', 'ntc': 565235, 'ncell': 5625654}}

In [32]:
a = {1: {'Name': 'Balram', 'ntc': 56855, 'ncell': 26535},
     2: {'Name': 'Hari', 'ntc': 565235, 'ncell': 5625654}}
a[1]['ntc'] = [98586855858,985658265354]
a

{1: {'Name': 'Balram', 'ntc': [98586855858, 985658265354], 'ncell': 26535},
 2: {'Name': 'Hari', 'ntc': 565235, 'ncell': 5625654}}

In [33]:
a = {1: {'Name': 'Balram', 'ntc': 56855, 'ncell': 26535},
     2: {'Name': 'Hari', 'ntc': 565235, 'ncell': 5625654}}
for i in a.values():
    print(i)

{'Name': 'Balram', 'ntc': 56855, 'ncell': 26535}
{'Name': 'Hari', 'ntc': 565235, 'ncell': 5625654}

In [34]:
a = {1: {'Name': 'Balram', 'ntc': 56855, 'ncell': 26535},
     2: {'Name': 'Hari', 'ntc': 565235, 'ncell': 5625654}}
for i in a.values():
    for j in i.items():
        print(j)

('Name', 'Balram')
('ntc', 56855)
('ncell', 26535)
('Name', 'Hari')
('ntc', 565235)
('ncell', 5625654)

In [38]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quty = "))
    total = price*quantity
    key = i
    value = {"Name":name,"price":price,"quantity":quantity,"total":total}
    d[key] = value
print(d)

Enter n = 2
Enter name = 25
Enter price = 25
Enter quty = 25
Enter name = fanta
Enter price = 25
Enter quty = 25
{1: {'Name': '25', 'price': 25, 'quantity': 25, 'total': 625}, 2: {'Name': 'fanta', 'price': 25, 'quantity': 25, 'total': 625}}

In [39]:
d = {}
product = {"Apple":100,"Banana":50}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    price = product[name]
    quantity = int(input("Enter quty = "))
    total = price*quantity
    key = i
    value = {"Name":name,"price":price,"quantity":quantity,"total":total}
    d[key] = value
print(d)

Enter n = 2
Enter name = Apple
Enter quty = 45
Enter name = Banana
Enter quty = 25
{1: {'Name': 'Apple', 'price': 100, 'quantity': 45, 'total': 4500}, 2: {'Name': 'Banana', 'price': 50, 'quantity': 25, 'total': 1250}}

In [40]:
a = {'Name': (56855, 26535), 'Hari': (56855, 26535)} #tuple if constant
b = ({'Name': 56855, 26535})

SyntaxError: invalid syntax (<ipython-input-40-c83a3c34117d>, line 2)

In [41]:
a = {'Name': (56855, 26535), 'Hari': (56855, 26535)}
a["Sita"]: (990999,99889889)
a

{'Name': (56855, 26535), 'Hari': (56855, 26535)}

In [44]:
a = ({'Name':56855,26535},)
a[0]

SyntaxError: invalid syntax (<ipython-input-44-d34580add1b1>, line 1)

In [1]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell = "))
    key = name
    value = f"{ntc} {ncell}"
    d[key] = value
    
print(d)

Enter n = 2
Enter name = Santosh
Enter ntc = 9865623658
Enter ncell = 9865986586
Enter name = Ram
Enter ntc = 9685689575
Enter ncell = 9856895648
{'Santosh': '9865623658 9865986586', 'Ram': '9685689575 9856895648'}

In [3]:
#list inside dict
a = {'Santosh': ['9865623658 9865986586'], 'Ram': ['9685689575 9856895648']}
print(a['Ram'])

['9685689575 9856895648']

In [4]:
for i in a.items():
    print(i)

('Santosh', ['9865623658 9865986586'])
('Ram', ['9685689575 9856895648'])

In [5]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell = "))
    key = name
    value = [ntc,ncell]
    d[key] = value
    
print(d)

Enter n = 2
Enter name = Santosh
Enter ntc = 98652365
Enter ncell = 986596859
Enter name = Hari
Enter ntc = 98659865
Enter ncell = 9856989
{'Santosh': [98652365, 986596859], 'Hari': [98659865, 9856989]}

In [6]:
a = {'Santosh': [98652365, 986596859], 'Hari': [98659865, 9856989]}
print(a['Santosh'])

[98652365, 986596859]

In [7]:
a['Santosh'].append(98756455266)
print(a)

{'Santosh': [98652365, 986596859, 98756455266], 'Hari': [98659865, 9856989]}

In [8]:
a = {'Santosh': [98652365, 986596859], 'Hari': [98659865, 9856989]}
a['Ram'] = [98985658955,98556524115]
a

{'Santosh': [98652365, 986596859],
 'Hari': [98659865, 9856989],
 'Ram': [98985658955, 98556524115]}

In [9]:
a = {'Santosh': [98652365, 986596859],
 'Hari': [98659865, 9856989],
 'Ram': [98985658955, 98556524115]}
del a["Ram"]
print(a)

{'Santosh': [98652365, 986596859], 'Hari': [98659865, 9856989]}

In [12]:
a = {'Santosh': [98652365, 986596859],
 'Hari': [98659865, 9856989],
 'Ram': [98985658955, 98556524115]}
a.pop("Ram")
print(a)

{'Santosh': [98652365, 986596859], 'Hari': [98659865, 9856989]}

In [13]:
#dict inside list
a = [{"Name":"Ram","Ntc":98606201725,"Ncell":9856895265},
     {"Name":"Santosh","Ntc":985689568,"Ncell":985658565}]
for i in a:
    print(i)

{'Name': 'Ram', 'Ntc': 98606201725, 'Ncell': 9856895265}
{'Name': 'Santosh', 'Ntc': 985689568, 'Ncell': 985658565}

In [14]:
#dict inside list
a = [{"Name":"Ram","Ntc":98606201725,"Ncell":9856895265},
     {"Name":"Santosh","Ntc":985689568,"Ncell":985658565}]
for i in a:
    for j in i.items():
        print(j)

('Name', 'Ram')
('Ntc', 98606201725)
('Ncell', 9856895265)
('Name', 'Santosh')
('Ntc', 985689568)
('Ncell', 985658565)

In [15]:
a = [{"Name":"Ram","Ntc":98606201725,"Ncell":9856895265},
     {"Name":"Santosh","Ntc":985689568,"Ncell":985658565}]
x = {"Name":"Sita","Ntc":9865625635,"Ncell":985658988}
a.append(x)
print(a)

[{'Name': 'Ram', 'Ntc': 98606201725, 'Ncell': 9856895265}, {'Name': 'Santosh', 'Ntc': 985689568, 'Ncell': 985658565}, {'Name': 'Sita', 'Ntc': 9865625635, 'Ncell': 985658988}]

In [2]:
a = [{'Name': 'Ram', 'Ntc': 98606201725, 'Ncell': 9856895265}, 
     {'Name': 'Santosh', 'Ntc': 985689568, 'Ncell': 985658565}, 
     {'Name': 'Sita', 'Ntc': 9865625635, 'Ncell': 985658988}]
a[0]['Name'] = "Ramprasad"
a

[{'Name': 'Ramprasad', 'Ntc': 98606201725, 'Ncell': 9856895265},
 {'Name': 'Santosh', 'Ntc': 985689568, 'Ncell': 985658565},
 {'Name': 'Sita', 'Ntc': 9865625635, 'Ncell': 985658988}]

In [4]:
a = [{'Name': 'Ramprasad', 'Ntc': 98606201725, 'Ncell': 9856895265},
 {'Name': 'Santosh', 'Ntc': 985689568, 'Ncell': 985658565},
 {'Name': 'Sita', 'Ntc': 9865625635, 'Ncell': 985658988}]
del a[2]["Ntc"]
print(a)

[{'Name': 'Ramprasad', 'Ntc': 98606201725, 'Ncell': 9856895265}, {'Name': 'Santosh', 'Ntc': 985689568, 'Ncell': 985658565}, {'Name': 'Sita', 'Ncell': 985658988}]

In [5]:
# dict inside dict
a = {1:{'Name': 'Ramprasad', 'Ntc': 98606201725, 'Ncell': 9856895265},
 2:{'Name': 'Santosh', 'Ntc': 985689568, 'Ncell': 985658565}}
print(a)

{1: {'Name': 'Ramprasad', 'Ntc': 98606201725, 'Ncell': 9856895265}, 2: {'Name': 'Santosh', 'Ntc': 985689568, 'Ncell': 985658565}}

In [8]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc = "))
    ncell = int(input("Enter ncell = "))
    key = i
    value = {"Name":name,"ntc":ntc,"ncell":ncell} 
    d[key] = value
    
print(d)

Enter n = 2
Enter name = Santosh
Enter ntc = 98652652
Enter ncell = 9865965856
Enter name = Hari
Enter ntc = 985652653
Enter ncell = 9865236568
{1: {'Name': 'Santosh', 'ntc': 98652652, 'ncell': 9865965856}, 2: {'Name': 'Hari', 'ntc': 985652653, 'ncell': 9865236568}}

In [10]:
for i in d.values():
    print(i)

{'Name': 'Santosh', 'ntc': 98652652, 'ncell': 9865965856}
{'Name': 'Hari', 'ntc': 985652653, 'ncell': 9865236568}

In [11]:
d[1]

{'Name': 'Santosh', 'ntc': 98652652, 'ncell': 9865965856}

In [14]:
d[1]["Name"] = "Ram"
d

{1: {'Name': 'Ram', 'ntc': 98652652, 'ncell': 9865965856},
 2: {'Name': 'Hari', 'ntc': 985652653, 'ncell': 9865236568}}

In [19]:
a = {1: {'Name': 'Ram', 'ntc': 98652652, 'ncell': 9865965856},
 2: {'Name': 'Hari', 'ntc': 985652653, 'ncell': 9865236568}}
a[1]['ntc'] = [985887554]
a

{1: {'Name': 'Ram', 'ntc': [985887554], 'ncell': 9865965856},
 2: {'Name': 'Hari', 'ntc': 985652653, 'ncell': 9865236568}}

In [20]:
for i in a.values():
    print(i)

{'Name': 'Ram', 'ntc': [985887554], 'ncell': 9865965856}
{'Name': 'Hari', 'ntc': 985652653, 'ncell': 9865236568}

In [21]:
for i in a.values():
    for j in i.items():
        print(j)

('Name', 'Ram')
('ntc', [985887554])
('ncell', 9865965856)
('Name', 'Hari')
('ntc', 985652653)
('ncell', 9865236568)

In [28]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    Total = price*quantity
    key = i
    value = {"Nam":name,"price":price,"quantity":quantity,"Total":Total} 
    d[key] = value
    
print(d)

Enter n = 2
Enter name = coke
Enter price = 25
Enter quantity = 25
Enter name = fanta
Enter price = 25
Enter quantity = 25
{1: {'Nam': 'coke', 'price': 25, 'quantity': 25, 'Total': 625}, 2: {'Nam': 'fanta', 'price': 25, 'quantity': 25, 'Total': 625}}

In [31]:
d = {}
product = {"Apple":100,"Banana":50,"Cat":200}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    price = product[name]
    quantity = int(input("Enter quantity = "))
    Total = price*quantity
    key = i
    value = {"Nam":name,"price":price,"quantity":quantity,"Total":Total} 
    d[key] = value
    
print(d)

Enter n = 5
Enter name = Apple
Enter quantity = 25
Enter name = Banana
Enter quantity = 25
Enter name = Cat
Enter quantity = 25
Enter name = Cat
Enter quantity = 25
Enter name = Banana
Enter quantity = 25
{1: {'Nam': 'Apple', 'price': 100, 'quantity': 25, 'Total': 2500}, 2: {'Nam': 'Banana', 'price': 50, 'quantity': 25, 'Total': 1250}, 3: {'Nam': 'Cat', 'price': 200, 'quantity': 25, 'Total': 5000}, 4: {'Nam': 'Cat', 'price': 200, 'quantity': 25, 'Total': 5000}, 5: {'Nam': 'Banana', 'price': 50, 'quantity': 25, 'Total': 1250}}

In [32]:
for i in d.values():
    print(i)

{'Nam': 'Apple', 'price': 100, 'quantity': 25, 'Total': 2500}
{'Nam': 'Banana', 'price': 50, 'quantity': 25, 'Total': 1250}
{'Nam': 'Cat', 'price': 200, 'quantity': 25, 'Total': 5000}
{'Nam': 'Cat', 'price': 200, 'quantity': 25, 'Total': 5000}
{'Nam': 'Banana', 'price': 50, 'quantity': 25, 'Total': 1250}

In [33]:
for i in a.values():
    for j in i.items():
        print(j)

('Name', 'Ram')
('ntc', [985887554])
('ncell', 9865965856)
('Name', 'Hari')
('ntc', 985652653)
('ncell', 9865236568)

In [12]:
d = {}
product = {"Apple":100,"Banana":50,"Cat":200}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    price = product[name]
    for i in price:
        if "price" == 'apple':
            print(price[0].upper)
    quantity = int(input("Enter quantity = "))
    Total = price*quantity
    key = i
    value = {"Nam":name,"price":price,"quantity":quantity,"Total":Total} 
    d[key] = value
    
    
print(d)

Enter n = 1
Enter name = apple

KeyError: 'apple'