In [1]:
a = 10
print(a)

10

In [18]:
a = 10
b = 20.5
c = "Hello World"
d = True
print(a)
print(b)
print(c)

10
20.5
Hello World

In [4]:
print(a,b,c)

10 20.5 Hello World

In [6]:
type(a)

int

In [7]:
print(type(a))

<class 'int'>

In [8]:
print(type(b))

<class 'float'>

In [9]:
print(type(c))

<class 'str'>

In [16]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [19]:
# int() str() float()
a = "10"
b = int(a)
print(b)
print(type(b))

10
<class 'int'>

In [20]:
a = 10
b = str(a)
print(b)
print(type(b))

10
<class 'str'>

In [22]:
a = "Ten"
print(a)

Ten

In [23]:
# + - * / // ** %
a = 10
b = 20
c = a+b
print(c)

30

In [26]:
a = 9
b = 2
c = a//b
d = a%b
e = a**b
print(c)
print(d)
print(e)

4
1
81

In [28]:
a = "Appple"
b = "Ball"
c = a+b
print(c) #stringconcatination

ApppleBall

In [29]:
a = "10"
b = "20"
c = a+b
print(c)

1020

In [30]:
a = "10"
b = "20"
c = int(a)+int(b)
print(c)

30

In [32]:
a = "10"
b = 20
c = int(a)+b
print(c)

30

In [34]:
a = "10"
b = 20
c = a+str(b)
print(c)

1020

In [35]:
a = "Hello World"
print(a*3)

Hello WorldHello WorldHello World

In [36]:
a = "Hello World\n"
print(a*3)

Hello World
Hello World
Hello World

In [38]:
a = True
b = False
a and b #and or not

False

In [39]:
a = True
b = False
a or b #and or not

True

In [42]:
a = True
b = False
a or b #and or not

True

In [43]:
p = 1000
t = 2.5
r = 12
i = p*t*r/100
print("The value of i is" ,i)

The value of i is 300.0

In [44]:
a = input()
print(a)

11
11

In [46]:
a = input("Enter The Value of a = ")
print(a)
print(type(a))

Enter The Value of a = 11
11
<class 'str'>

In [48]:
a = input("Enter The Value of a = ")
b = int(a)
print(b)
print(type(b))

Enter The Value of a = 44
44
<class 'int'>

In [49]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = int(input("Enter r = "))
i = p*t*r/100
print("The value of i is" ,i)

Enter p = 1000
Enter t = 1.2
Enter r = 2
The value of i is 24.0

In [50]:
name = input("Enter name = ")
age = input("Enter age = ")
address = input("Enter address = ")
info = name+str(age)+address
print(info)

Enter name = ram
Enter age = 12
Enter address = ktm
ram12ktm

In [52]:
name = input("Enter name = ")
age = input("Enter age = ")
address = input("Enter address = ")
info = "Hello I am"+name+"I am"+str(age)+"Iam from"+address
print(info)

Enter name = ram
Enter age = 11
Enter address = ktm
Hello I amramI am11Iam fromktm

In [2]:
name = input("Enter name = ")
age = input("Enter age = ")
address = input("Enter address = ")
info = name+age+address
print(info)

Enter name = rma
Enter age = 12
Enter address = ktm
rma12ktm

In [ ]:
name = input("Enter name = ")
age = input("Enter age = ")
address = input("Enter address = ")
info = "Hello I am "+name+" I am "+age+" old"+address
print(info)