In [1]:
a = ["Apple","Ball"]
print(type(a))

<class 'list'>

In [2]:
# Indexing
# Order
# Duplicate
# Mutable

In [3]:
a = [1,2,4,5,6,7,8,9] #Element
print(len(a))

8

In [5]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
print(a)
print(a[0])

['Apple', 'Cat', 'Ball', 'Dog']
Apple

In [6]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
print(a)
print(a[0:3])

['Apple', 'Cat', 'Ball', 'Dog']
['Apple', 'Cat', 'Ball']

In [1]:
a = ["Apple","Cat","Ball","Dog"]
print(a[0:3])

['Apple', 'Cat', 'Ball']

In [7]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
print(a)
print(a[0:5:2])

['Apple', 'Cat', 'Ball', 'Dog']
['Apple', 'Ball']

In [9]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
b = ["Ram"]
c = a+b
print(c)

['Apple', 'Cat', 'Ball', 'Dog', 'Ram']

In [10]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
b = ["Ram"]
c = a+b
print(c*2)

['Apple', 'Cat', 'Ball', 'Dog', 'Ram', 'Apple', 'Cat', 'Ball', 'Dog', 'Ram']

In [3]:
a = ['Apple','Ram','Cat','Dog','Ball','Fish']
b = ['Gai']
c = a+b
print(c*4)

['Apple', 'Ram', 'Cat', 'Dog', 'Ball', 'Fish', 'Gai', 'Apple', 'Ram', 'Cat', 'Dog', 'Ball', 'Fish', 'Gai', 'Apple', 'Ram', 'Cat', 'Dog', 'Ball', 'Fish', 'Gai', 'Apple', 'Ram', 'Cat', 'Dog', 'Ball', 'Fish', 'Gai']

In [11]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
a[0] = 'Ant'
print(a)

['Ant', 'Cat', 'Ball', 'Dog']

In [4]:
a = ['Apple','Ram','Cat','Dog','Ball','Fish']
a[0] = 'Gai'
print(a)

['Gai', 'Ram', 'Cat', 'Dog', 'Ball', 'Fish']

In [13]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    l = l+[name]
print(l)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [5]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    l = l+[name]
print(l)

Enter n = 2
Enter name = ram
Enter name = ram
['ram', 'ram']

In [14]:
a = ["Apple","Cat","Ball","Dog"] #Autoindex
for i in a:
    print(i)

Apple
Cat
Ball
Dog

In [15]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enteer x = "))
    l = l+[x]
print(l)

Enter n = 5
Enteer x = 25
Enteer x = 25
Enteer x = 525
Enteer x = 525
Enteer x = 5
[25, 25, 525, 525, 5]

In [7]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enteer x = "))
    l = l+[x]
print(l)
print("the sume of no is = ",sum(l)) #better than loop
print("The max value is = ",max(l))
print("the miinimium = ",min(l))
print("min",max(l)/n)

Enter n = 5
Enteer x = 2535
Enteer x = 545
Enteer x = 5426
Enteer x = 5454
Enteer x = 514
[2535, 545, 5426, 5454, 514]
the sume of no is =  14474
The max value is =  5454
the miinimium =  514
min 1090.8

In [9]:
l.sort()
print(l)

[514, 545, 2535, 5426, 5454]

In [20]:
l.sort() #l. not required print
print(l)

[5, 25, 25, 525, 525]

In [21]:
sorted(l)

[5, 25, 25, 525, 525]

In [26]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enteer x = ")
    l = l+[x]
print(l)

Enter n = 5
Enteer x = ra4
Enteer x = ram
Enteer x = wre
Enteer x = re
Enteer x = rwh
['ra4', 'ram', 'wre', 're', 'rwh']

In [27]:
l.sort()
print(l)

['ra4', 'ram', 're', 'rwh', 'wre']

In [28]:
a = ["Apple","Ball","Cat","Dog"]
if "Apple" in a:
    print("yes")
    print(a.count("Apple"))

yes
1

In [36]:
a = ["Apple","Ball","Cat","Dog"]
for i in a:
    if i =="Ball":
        continue
    print(i)

Apple
Cat
Dog

In [39]:
#append(add to last) insert()
a = ["Apple","Ball","Cat","Dog"]
b = "Fish"
a.append(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [40]:
#append(add to last) insert()
a = ["Apple","Ball","Cat","Dog"]

a.insert(2,"Fish")
print(a)

['Apple', 'Ball', 'Fish', 'Cat', 'Dog']

In [41]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enteer x = ")
    l.append(x)
print(l)

Enter n = 2
Enteer x = Ram
Enteer x = Shyam
['Ram', 'Shyam']

In [43]:
# del remove() pop()
a = ["Apple","Ball","Cat","Dog"]
del a[0::2]
print(a)

['Ball', 'Dog']

In [44]:
# remove() 
a = ["Apple","Ball","Cat","Dog"]
a.remove("Ball")
print(a)

['Apple', 'Cat', 'Dog']

In [45]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
a.remove("Ball")
print(a)

['Apple', 'Ball', 'Cat', 'Dog']

In [46]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
n = a.count("Ball")
for i in range(n):
    a.remove("Ball")
print(a)

['Apple', 'Cat', 'Dog']

In [48]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
n = len(a)
for i in range(n):
    print(a[i])

Apple
Ball
Ball
Cat
Dog

In [50]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
n = a.count("Ball")
for i in range(n):
    if a[i] == "Ball":
        a[i] = "ball"
        
print(a)

['Apple', 'ball', 'Ball', 'Cat', 'Dog']

In [51]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
for i in range(len(a)):
    if a[i] == "Ball":
        print(i)

1
2

In [10]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
for i in range(len(a)):
    if a[i] == "Ball":
        print(i)

1
2

In [ ]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
for i in range(len(a)):
    if a[i] == "Ball":
        print(i)

In [52]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
a[2] = "ball"
print(a)

['Apple', 'Ball', 'ball', 'Cat', 'Dog']

In [54]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
a.index("Ball")

1

In [55]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
a.pop()
print(a)

['Apple', 'Ball', 'Ball', 'Cat']

In [56]:
# remove() 
a = ["Apple","Ball","Ball","Cat","Dog"]
a.pop(2)
print(a)

['Apple', 'Ball', 'Cat', 'Dog']

In [57]:
# remove() 
a = [""Apple","Ball","Ball","Cat","Dog]
b = a.pop(2)
print(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog']
Ball

In [1]:
#List inside list for multidimensional value
a = [[],[],[]]
print(type(a))
print(len(a))

<class 'list'>
3

In [2]:
a = [[1,3,4],[4,5,6],[5,6,7]]
print(a)

[[1, 3, 4], [4, 5, 6], [5, 6, 7]]

In [3]:
print(a[2])

[5, 6, 7]

In [4]:
print(a[0][0])

1

In [5]:
a = [[1,3,4],
     [4,5,6],
     [5,6,7]]
print(a)

[[1, 3, 4], [4, 5, 6], [5, 6, 7]]

In [6]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc number = "))
    ncell = int(input("Enter ncell no = "))
    info = [name,ntc,ncell]
    data.append(info)
    
print(data)

Enter n = 2
Enter name = ram
Enter ntc number = 356
Enter ncell no = 6524
Enter name = shyam
Enter ntc number = 254
Enter ncell no = 2535
[['ram', 356, 6524], ['shyam', 254, 2535]]

In [7]:
for i in data: #read
    print(i)

['ram', 356, 6524]
['shyam', 254, 2535]

In [9]:
a = [['ram', 356, 6524], ['shyam', 254, 2535]]
a[0][1] = 9860620772
a

[['ram', 9860620772, 6524], ['shyam', 254, 2535]]

In [11]:
a = [['ram', 356, 6524], ['shyam', 254, 2535]]
a[0].append(60620772)
a

[['ram', 356, 6524, 60620772], ['shyam', 254, 2535]]

In [13]:
a = [['ram', 356, 6524], ['shyam', 254, 2535]]
for i in a:
    if "ram" in i:
        print(i)

['ram', 356, 6524]

In [14]:
a = [['ram', 356, 6524], ['shyam', 254, 2535]]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = shyam
['shyam', 254, 2535]

In [17]:
result = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    physics = int(input("Enter marks"))
    chemistry = int(input("Enter marks"))
    math = int(input("Enter marks"))
    english = int(input("Enter marks"))
    total = sum([physics,chemistry,math,english])
    per = total/4
    marks = [name,physics,chemistry,math,english,total,per]
    result.append(marks)
print(result)

Enter n = 2
Enter name = ram
Enter marks25
Enter marks25
Enter marks25
Enter marks36
Enter name = hari
Enter marks36
Enter marks25
Enter marks253
Enter marks25
[['ram', 25, 25, 25, 36, 111, 27.75], ['hari', 36, 25, 253, 25, 339, 84.75]]

In [ ]:
result = []
n= int(input)
for i in range(1,n+1):
    name = input()
    phys

In [18]:
a = [[1,3,4],[4,5,6],[5,6,7]]
del a[0][0]
a

[[3, 4], [4, 5, 6], [5, 6, 7]]

In [19]:
a = [['ram', 356, 6524], ['shyam', 254, 2535]]
name = input("Enter name = ")
for i in a:
    if name in i:
        a.remove(i)
        
print(a)

Enter name = ram
[['shyam', 254, 2535]]

In [10]:
a = [['ram','sfsf','fslfs'],['slfsls','slfsjlsf',9999]]
name = input("Enter name = ")
for i in a:
    if name in i:
        a.remove in(i)
    print(a)

Enter name = slf
[['ram', 'sfsf', 'fslfs'], ['slfsls', 'slfsjlsf', 9999]]
[['ram', 'sfsf', 'fslfs'], ['slfsls', 'slfsjlsf', 9999]]

In [20]:
data = []
r = int(input("Enter row = "))
c = int(input("Enter col = "))
for i in range(r):
    z = []
    for j in range(c):
        x = int(input("Enter the value o f x= "))
        z.append(x)
    data.append(z)

Enter row = 3
Enter col = 3
Enter the value o f x= 1
Enter the value o f x= 2
Enter the value o f x= 3
Enter the value o f x= 4
Enter the value o f x= 2
Enter the value o f x= 5
Enter the value o f x= 5
Enter the value o f x= 5
Enter the value o f x= 6

In [6]:
data = []
r = int(input("Enter row = "))
c = int(input("enter column = "))
for i in range(r):
    z = []
    for j in range(c):
        x = int(input("enter the value of x = "))
        z.append(x)
        data.append(z)

Enter row = 2
enter column = 2
enter the value of x = 1
enter the value of x = 2
enter the value of x = 2
enter the value of x = 3

In [7]:
data

[[1, 2], [1, 2], [2, 3], [2, 3]]

In [21]:
data

[[1, 2, 3], [4, 2, 5], [5, 5, 6]]

In [22]:
data = []
r = int(input("Enter row = "))
c = int(input("Enter col = "))
for i in range(r):
    z = []
    for j in range(c):
        x = int(input("Enter the value o f x= "))
        z.append(x)
    data.append(z)

Enter row = 3
Enter col = 1
Enter the value o f x= 2
Enter the value o f x= 3
Enter the value o f x= 6

In [23]:
data

[[2], [3], [6]]

In [24]:
a = [[1,2,3],[4,5,6]]
b = [[1,2,4]]
print(a+b)

[[1, 2, 3], [4, 5, 6], [1, 2, 4]]

In [26]:
bill = []
total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = ")) #toral
    quantity = int(input("Enter quantity = "))
    total = quantity*price
    s = [name,price,quantity,total]
    bill.append(s)
        
print(s)
print(total)

Enter n = 2
Enter name = df2
Enter price = 254
Enter quantity = 52
Enter name = sf
Enter price = 25
Enter quantity = 25
['sf', 25, 25, 625]
625

In [2]:
bill = []
total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name =")
    price = int(input("ente price ="))
    quantity = int(input("Enter quantity = "))
    total = quantity*price
    s = [name,price,quantity,total]
    bill.append(s)
    
print(s)
print(total)

Enter n = 2
Enter name =ram
ente price =25
Enter quantity = 25
Enter name =cocacola
ente price =25
Enter quantity = 25
['cocacola', 25, 25, 625]
625

In [5]:
data = []
print(data)

[]