In [1]:
# for loop
# while

In [2]:
# range(5) (o,1,2,3,) for(i = 0; i<5 i++){}
# range(1,5) (1,2,3,4) for(i=1; i,5, i++
# range(1,5,2)

In [3]:
# for i in range(<arguments>):
#     <operations>

In [4]:
a = "helllo wworld"
for i in range(5):
    print(i,a)

0 helllo wworld
1 helllo wworld
2 helllo wworld
3 helllo wworld
4 helllo wworld

In [5]:
a = "Hellow World"
for i in range(1,10):
    print(i,a)

1 Hellow World
2 Hellow World
3 Hellow World
4 Hellow World
5 Hellow World
6 Hellow World
7 Hellow World
8 Hellow World
9 Hellow World

In [6]:
a = "helllo wworld"
for i in range(1,5):
    print(i,a)

1 helllo wworld
2 helllo wworld
3 helllo wworld
4 helllo wworld

In [7]:
a = "helllo wworld"
for i in range(1,5,2):
    print(i,a)

1 helllo wworld
3 helllo wworld

In [8]:
a = "helllo wworld"
for i in range(0,5,2):
    print(i,a)

0 helllo wworld
2 helllo wworld
4 helllo wworld

In [ ]:
n = input("Enter n = ")
for i in range(1,11):
    print(n*i)

In [ ]:
n = input("Enter n = ")
for i in range(2,10):
    print(n*i)
m = input("Enter m = ")
for i in range(2,15):
    print(m*i)

In [ ]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

In [ ]:
b = int(input("Enter n ="))
for i in range(3,10):
    print(b*i)

In [ ]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

In [ ]:
m = int(input("Enter m ="))
for i in range(3,11):
    print(m,"*",i,"*",m*i)

In [ ]:
n = int(input("nter n = "))
for i in range(n):
    x = int(input("Enter x ="))
    print(x)

In [ ]:
s = 0 #anywhere may be zero
n = int(input("nter n = "))
for i in range(n): #coke, fanta
    x = int(input("Enter x ="))
    s = s+x
    print(s)

In [ ]:
s = 0 #anywhere may be zero
n = int(input("nter n = "))
for i in range(n):
    x = int(input("Enter x ="))
    x = int(input("Enter x ="))
    s = s+x+x
    print(s)

In [ ]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter n = ")
    s = s+name
    print(s)

In [ ]:
s = "Hari"
n = int(input("Enter n = "))
for i in range(n):
    name = input( "Enter name = ")
    s = s + name
    print(s)

In [ ]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter n = ")
    s = s+name+"\n"
    print(s)

In [ ]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter n = ")
    phone = input( "Enter phone = ")
    s = s+name+ phone+"\n"
    print(s)

In [ ]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phoone = ")
    s = s+ name + phone+"\n"
    print(s)

In [ ]:
s = ""
total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = ")) #toral
    s = s+name+str(price)+"\n" #stringconcatination
    total = total+price
    print(s)
    print(total)

In [ ]:
a = "Python"
a[5::-1]

In [ ]:
a = "Python"
n = len(a)
print(n)
for i in range(5,-1,-1):
    print(a[i],end="") #reverse

In [ ]:
a = "Python"
for i in a:
    print(i)

In [ ]:
a = "Python"
for i in a:
    print(i,end= " ")

In [ ]:
a = "Python"
for i in a:
    print(i,end= ".")

In [ ]:
a = ["Apple","Cat","Dog"]
for i in a:
    print(i)

In [ ]:
a = "Python"
for i in a:
    print("Hellow World",end=" ")

In [ ]:
# break
# continous
# pass

In [ ]:
a = 0
while a<5:
    print(a,"Hellow World")
    a =a+1

In [ ]:
a = 0
while a<5:
    print("Hello World")
    a = a+2

In [1]:
a = 0
while a<5:
    print("Hellow")
    a = a+3

Hellow
Hellow

In [ ]:
a = 0
while a<5:
    print(a,"Hellow World")
    a+=2

In [ ]:
a = 0
while a<5:
    print(a,"Hellow World")
    a =a+1

In [ ]:
a = "Hellow"
print(a)

In [ ]:
a = ["Apple","Cat","Dog"]
for i in a:
    print(i)

In [2]:
a = ["Apple","Ram","Shyam"]
while a<5:
    print(a)
    a = a+3

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
n = int(input("Enter n = "))
a = 1
while a<=10:
    print(n*a)
    a = a+1

In [1]:
n = int(input("Enter n = "))
a = 1
while a<=10:
    print(n*a)
    a = a+1

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [3]:
n = int(input("Enter n = "))
a = 1
while a<=10:
    print(n*a)
    a = a+1

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [2]:
n = int(input("Enter n = "))
a = 1
while a<=10:
    print(n,"*",n*a)
    a = a+1

Enter n = 5
5 * 5
5 * 10
5 * 15
5 * 20
5 * 25
5 * 30
5 * 35
5 * 40
5 * 45
5 * 50

In [13]:
n = int(input("Enter n = "))
a = 1
while a<=10:
        print(n,"*",a,"=",n*a)
        a = a+1

Enter n = 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [3]:
a = 5
while 0<a:
    print(a)
    a = a-1

5
4
3
2
1

In [14]:
a = 5
while 0<a:
    print(a)
    a = a-1

5
4
3
2
1

In [5]:
a = 0
s = 0
while a<5:
    x = int(input("Enter x = "))
    x = s+x
    a = a+1
print(s)

Enter x = 2
Enter x = 5
Enter x = 5
Enter x = 6
Enter x = 3
0

In [ ]:
a = 0
s = 0
while a<5:
    x = int(input("Enter x = "))
    x = s+x
    print(x)

Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 4
4
Enter x = 5
5
Enter x = 6
6
Enter x = 65
65
Enter x = 5
5
Enter x = 5
5
Enter x = 6
6
Enter x = 65
65
Enter x = 5
5
Enter x = 56
56
Enter x = 655
655

In [6]:
a = 0
s = 0
while a<5:
    x = int(input("Enter x = "))
    x = s+x
    a = a+2
    print(x)

Enter x = 2
2
Enter x = 3
3
Enter x = 6
6

In [9]:
a = "Python"
n = len(a)
b = 0
while b<n:
    print(a[b])
    b =b+1

P
y
t
h
o
n

In [ ]:
a = "Python"
n = len(a)
b = 0
while b<n:
    print(a[b])
    b = b+2

In [10]:
a = 10
b = 20
while b>a:
    print("b is greater")
    break #break statement

b is greater

In [12]:
a = "Hello world"
for i in a:
    if i ==" ":
        break
    else:
        print(i)

H
e
l
l
o

In [ ]:
a = "S"

In [14]:
a = "Hellow wordl"
for i in a:
    if i =="d":
        continue
    print(i,end = "")

Hellow worl

In [16]:
for i in range(1,21):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [17]:
for i in range(1,21):
    if i%2!=0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [19]:
a = ["Apple","Ball","Cat"]
for i in a:
    if i == "Apple":
        continue
    print(i)

Ball
Cat

In [21]:
a = ["Apple","Ball","Cat"]
for i in a:
    if i == "Cat":
        break
    print(i)

Apple
Ball

In [22]:
a = 10
b = 20
if a<b:
    pass

In [23]:
a = ["Apple","Ball","Cat"]
for i in a:
    if i == "Apple":
        pass
    print(i)

Apple
Ball
Cat