In [4]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database = "class6pm"
)
db = database.cursor()

In [6]:
db.execute("SELECT * FROM products") #data thanane
result = db.fetchall()
for x in result:
    print(x)

(1, 'Acer Laptop', 60000, 50000, 'This is latest acer laptop', 5, datetime.datetime(2021, 6, 17, 18, 26, 53), 10)
(2, 'Ipad', 100000, 80000, 'This is the latest ipad', 4, datetime.datetime(2021, 6, 17, 18, 29, 3), 10)
(3, 'Samsung TV', 60000, 50000, 'This is the latest tv', 4, datetime.datetime(2021, 6, 17, 18, 30, 7), 10)

In [9]:
db.execute("SELECT name,cost_price,quantity FROM products") #particular fetch
result = db.fetchall()
for x in result:
    print(x)

('Acer Laptop', 60000, 5)
('Ipad', 100000, 4)
('Samsung TV', 60000, 4)

In [11]:
db.execute("SELECT name,cost_price,quantity FROM products WHERE stock>5")  
result = db.fetchall()
for x in result:
    print(x)

('Acer Laptop', 60000, 5)
('Ipad', 100000, 4)
('Samsung TV', 60000, 4)

In [14]:
db.execute("SELECT name,cost_price,quantity FROM products WHERE description LIKE '%laptop%' ")  
result = db.fetchall() #search
for x in result:
    print(x)

('Acer Laptop', 60000, 5)

In [15]:
db.execute("SELECT name,cost_price,quantity FROM products WHERE description LIKE '%laptop' ") #last tir key word xa  
result = db.fetchall()
for x in result:
    print(x)

('Acer Laptop', 60000, 5)

In [16]:
db.execute("SELECT name,cost_price,quantity FROM products WHERE description LIKE '%This%' ")  
result = db.fetchall()
for x in result:
    print(x)

('Acer Laptop', 60000, 5)
('Ipad', 100000, 4)
('Samsung TV', 60000, 4)

In [21]:
name = "mouse"
cost_price = 200
sell_price = 150
description = "This is gaming mouse" #add
quantity = 4
stock = 10

sql = f"INSERT INTO products(name,cost_price,sell_price,description,quantity,stock) VALUES('{name}',{cost_price},{sell_price},'{description}',{quantity},{stock})"
print(sql)
db.execute(sql)
database.commit()

INSERT INTO products(name,cost_price,sell_price,description,quantity,stock) VALUES('mouse',200,150,'This is gaming mouse',4,10)

In [23]:
sql = "DELETE FROM products WHERE id = 4 "
db.execute(sql)  #delete
database.commit()

In [25]:
sql = "UPDATE products SET stock = 45 WHERE id  = 3"
db.execute(sql)
database.commit() #commit for change(delete, write update)