In [1]:
a = {1,2,3} #set for data storea  #{} dictionary
print(type(a))

<class 'set'>

In [2]:
# no index only list and tuple
# unordered
# no duplicate member
# mutable

In [4]:
a = {5,6,9,2,3,4,5,6,7,8} #unorderd #no sorting
b = {3,4,6,6,8}  #no duplicate
print(a)
print(b)

{2, 3, 4, 5, 6, 7, 8, 9}
{8, 3, 4, 6}

In [6]:
a = {"xray","1apple","zebra","ball"}
print(a)

{'ball', 'zebra', 'xray', '1apple'}

In [7]:
a = [1,2,3,4,5,5,6,7,9,8,9] #application to make unique 
b = set(a) #interconvertible
c = list(b)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
a = set("Hello") #string innto set
a

{'H', 'e', 'l', 'o'}

In [9]:
a = list("Hello") # innto list
a

['H', 'e', 'l', 'l', 'o']

In [10]:
a = tuple("Hello") #string innto tuple but not viceversa
a

('H', 'e', 'l', 'l', 'o')

In [11]:
a = {1,2,3,4,5,6}
b = 8
a.add(b) #mutable
a

{1, 2, 3, 4, 5, 6, 8}

In [1]:
s = set()  #{} not this 
n = 5
for i in range(n):
    x = int(input("Ente the value of x  = "))
    s.add(x)
    
print(s)

Ente the value of x  = 2

AttributeError: 'int' object has no attribute 'add'

In [14]:
a = {23,24,35,45} #not delete due to no index and no concatination
a.remove(35)
a

{23, 24, 45}

In [15]:
a = {1,2,3}
print(a*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [16]:
a = {1,2,3} # no concatination but update by this way
b = {4,5}
a.update(b)
a

{1, 2, 3, 4, 5}

In [17]:
a = {{1,2,3},{4,5,6}} #no set inside set
a

TypeError: unhashable type: 'set'

In [18]:
a = {[1,2,3],[4,5,6]} #no dic inside set
a

TypeError: unhashable type: 'list'

In [19]:
a = {(1,2,3),(4,5,6)} # but only tuple inside set secure data
a

{(1, 2, 3), (4, 5, 6)}

In [21]:
a = {(1, 2, 3), (4, 5, 6),(2,4,6)}
a

{(1, 2, 3), (2, 4, 6), (4, 5, 6)}

In [22]:
a = {"Ram","Shyam","Hari","Gita"}
b = {"Hari","Santosh","Bikesh","Surya"}
a.union(b)

{'Bikesh', 'Gita', 'Hari', 'Ram', 'Santosh', 'Shyam', 'Surya'}

In [23]:
print(a.union(b))

{'Surya', 'Ram', 'Santosh', 'Shyam', 'Gita', 'Hari', 'Bikesh'}

In [24]:
a.intersection(b)

{'Hari'}

In [25]:
a.difference(b)

{'Gita', 'Ram', 'Shyam'}

In [27]:
b.difference(a)

{'Bikesh', 'Santosh', 'Surya'}

In [28]:
x = a.difference(b) #symmetric differnce
y = b.difference(a)
x.union(y)

{'Bikesh', 'Gita', 'Ram', 'Santosh', 'Shyam', 'Surya'}

In [29]:
a = {"Ram","Shyam","Hari","Gita"}
b = {"Hari","Santosh","Bikesh","Surya"}
c = {"Hari","Sunita","Ram"}
a.union(b,c)

{'Bikesh', 'Gita', 'Hari', 'Ram', 'Santosh', 'Shyam', 'Sunita', 'Surya'}

In [30]:
a.intersection(b,c)

{'Hari'}

In [31]:
a.intersection(b)

{'Hari'}

In [32]:
x = a.intersection(b,c)
y = a.intersection(b)
x.difference(y)

set()

In [33]:
# isdisjoint() no common value
# issubset()
# isuperset()

In [34]:
a = {"Ram","Shyam","Hari","Gita"}
b = {"Hari","Santosh","Bikesh","Surya"}
a.isdisjoint(b)

False

In [35]:
a.issubset(b)

False

In [37]:
a.issuperset(b)

False

In [38]:
a = {1,2,3,4,5,6,7}
b = {4,5,6}
b.issubset(a)

True

In [39]:
a.issuperset(b)

True