In [5]:
a = "Hello world I am python"
print(a[0])

H

In [6]:
a = "Hello world I am python"
print(a[0:5])

Hello

In [8]:
a = "Hello world I am python" #slicing
print(a[0:25:3])

HlwlImyo

In [10]:
print(len(a))

23

In [12]:
a = "Hello world I am python"
n = len(a)
print(a[n::-1])

nohtyp ma I dlrow olleH

In [18]:
a = "Hello world I am python"
b = a[5:40]
print(b)

 world I am python

In [21]:
a = "Apple"
b = " Ball"
c = print(a+b) #conncation

Apple Ball

In [23]:
a = "Hello World \n"
print(a*5)

Hello World
Hello World
Hello World
Hello World
Hello World

In [25]:
a = input("Enter a = ")
b = input("Enter b = ")
print(a+b)

Enter a = 12
Enter b = 45
1245

In [27]:
# string formatting to send many mail
a = "Hello World"
b = 10
print(a+str(b))

Hello World10

In [30]:
a = "Hello World"
b = 10
c = f"{a} {b}"
print(c)

Hello World 10

In [2]:
a = "hello world"
b = 10
c = f"{a} {b}"
print(c)

hello world 10

In [31]:
a = "Hello World"
b = 10
c = f"{a} It is me Santosh I am {b}"
print(c)

Hello World It is me Santosh I am 10

In [32]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phoone = ")
    data = f"{name} {phone}\n"
    s = s+data
    print(s)

Enter n = 1
Enter name = ram
Enter phoone = 655
ram 655

In [1]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    data = f"{name}{phone}"
    s = s+data
    print(s)

Enter n = 1
Enter name = 4554
Enter phone = 2554
45542554

In [2]:
s = ""
total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = ")) #toral
    quantity = int(input("Enter quantity = "))
    total = quantity*price
    s = s+f"{name} {price} {quantity} {total}\n"
        
print(s)
print(total)

Enter n = 1
Enter name = lk
Enter price = 52
Enter quantity = 25
lk 52 25 1300

1300

In [37]:
a = "hello world"
print(a.upper())
print(a.lower())

HELLO WORLD
hello world

In [3]:
a = "Santosh"
print(a.upper())

SANTOSH

In [40]:
a = "Ram Shyam Hari Gita"
b = a.replace("Ram","Ramprasad")
print(b)
print(a)

Ramprasad Shyam Hari Gita
Ram Shyam Hari Gita

In [41]:
a = "Ram Shyam Hari Gita"
b = a.replace("Gita","")
print(b)
print(a)

Ram Shyam Hari
Ram Shyam Hari Gita

In [43]:
a = "Ram Shyam Hari Gita Ram"
b = a.replace("Ram ","")
print(b)

Shyam Hari Gita Ram

In [45]:
a = "Ram Shyam Hari Gita Ram"
a[3:]

' Shyam Hari Gita Ram'

In [49]:
a = "Ram Shyam Hari Gita Ram"
if "Ram" in a:
    print("Yes")
    print(a.count("Ram"))

Yes
2

In [51]:
a = "Ram Shyam Hari Gita Ram"
name = input("Enter name = ")
if "Ram" in a:
    print("Yes")
    print(a.count(name))

Enter name = Santosh
Yes
0

In [55]:
a = "Ram Shyam Hari Gita Ram"
b = a.lower()
name = input("Enter name = ").lower()
if "Ram" in b:
    print("Yes")
    print(a.count(name))

Enter name = Ram

In [56]:
a = "Ram Shyam Hari Gita"
a.split('\n')

['Ram Shyam Hari Gita']

In [57]:
a = "Ram Shyam Hari Gita"
a.split()

['Ram', 'Shyam', 'Hari', 'Gita']

In [58]:
a = ["Ram", "hari"]
a.pop()

'hari'