In [1]:
a = (1,2,3,4)
print(a)

(1, 2, 3, 4)

In [2]:
# Tuple for permanent
# Indexing
# ordered
# duplicate
# # imputable

In [3]:
a = ("Apple","Ball")
print(a[1])

Ball

In [10]:
a = ("Apple","Ball","Cat","Dog")
b = ("Fish",)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [8]:
a = ("apple",)
print(type(a))

<class 'tuple'>

In [9]:
a = tuple()
b = ("Apple",)
c = ("Ball",)
print(a+b+c)

('Apple', 'Ball')

In [12]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
    
print(t)

Enter n = 2
Enter x = 5
Enter x = 6
(5, 6)

In [13]:
print("the sume of no is = ",sum(t)) #better than loop
print("The max value is = ",max(t))
print("the miinimium = ",min(t))
print("min",max(t)/n)

the sume of no is =  11
The max value is =  6
the miinimium =  5
min 3.0

In [14]:
sorted(t)
print(t)

(5, 6)

In [15]:
a = ("Apple","Ball","Ball","Cat","Dog") #convert
b = list(a)
print(b)

['Apple', 'Ball', 'Ball', 'Cat', 'Dog']

In [16]:
a = ("Apple","Ball","Cat","Dog")
if "Apple" in a:
    print("yes")
    print(a.count("Apple"))

yes
1

In [17]:
a = ("Apple","Ball","Cat","Dog")
for i in a:
    if i =="Ball":
        continue
    print(i)

Apple
Cat
Dog

In [1]:
#append(add to last) insert()
a = ("Apple","Ball","Cat","Dog")
b = ("Fish",)
a.append(b,)
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
#tuple inside tuple for multidimensional value
a = ((),())
print(type(a))
print(len(a))

<class 'tuple'>
2

In [20]:
a = ((1,3,4,5),
     (5,6,6,5))
print(a)

((1, 3, 4, 5), (5, 6, 6, 5))

In [21]:
data = tuple() #append not 
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = int(input("Enter ntc number = "))
    ncell = int(input("Enter ncell no = "))
    info = (i,name,ntc,ncell)
    data = data+(info,)
    
print(data)

Enter n = 2
Enter name = ram
Enter ntc number = 3665544
Enter ncell no = 256645
Enter name = hair
Enter ntc number = 35652
Enter ncell no = 2564
((0, 'ram', 3665544, 256645), (1, 'hair', 35652, 2564))

In [22]:
for i in data: #read
    print(i)

(0, 'ram', 3665544, 256645)
(1, 'hair', 35652, 2564)

In [23]:
a = (('ram', 356, 6524), ('shyam', 254, 2535))
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = ram
('ram', 356, 6524)

In [26]:
a = ([1,3,4],[4,6,7,8])
print(len(a))

2

In [27]:
a = ([0, 'ram', 3665544, 256645], [1, 'hair', 35652, 2564])
print(a[0])

[0, 'ram', 3665544, 256645]

In [29]:
a = ([0, 'ram', 3665544, 256645], [1, 'hair', 35652, 2564])
a[0][1] = "Ram Prasad"
print(a) #list change but tuple no change(list inside tuple)

([0, 'Ram Prasad', 3665544, 256645], [1, 'hair', 35652, 2564])

In [31]:
a = ([0, 'ram', 3665544, 256645], [1, 'hair', 35652, 2564])
del a[0][3]
print(a) #list change but tuple no change

([0, 'ram', 3665544], [1, 'hair', 35652, 2564])

In [33]:
a = [(0, 'ram', 3665544, 256645), (1, 'hair', 35652, 2564)]
del a[0]
print(a) #tuple inside list

[(1, 'hair', 35652, 2564)]

In [34]:
a = [(0, 'ram', 3665544, 256645), (1, 'hair', 35652, 2564)]
a[0] = (0,1,3,4,5)
print(a) #tuple inside list

[(0, 1, 3, 4, 5), (1, 'hair', 35652, 2564)]

In [1]:
a = ((1,3,4,5),
     (5,6,6,5))
b = list(list(a))
for i in b:
    print(list(i))

[1, 3, 4, 5]
[5, 6, 6, 5]

In [38]:
c = ()
a = [[1,3,4,5],
     [5,6,6,5]]
b = list(a)
for i in b:
    x = tuple(i)
    c = c+(x,)
print(c)

((1, 3, 4, 5), (5, 6, 6, 5))

In [39]:
c = []
a = ((1,3,4,5),
     (5,6,6,5))
b = list(a)
for i in b:
    x = list(i)
    c.append(x)
print(c)

[[1, 3, 4, 5], [5, 6, 6, 5]]

In [40]:
a = []
len(a)

0

In [41]:
isempty(a)

NameError: name 'isempty' is not defined

In [42]:
a = [1,2,3]
print(a*2)

[1, 2, 3, 1, 2, 3]

In [43]:
import numpy as np
a = np.array([1,2,3])
a*3

array([3, 6, 9])

In [44]:
x = 1
a = [1,2,3]
for i in a:
    x = x*i
print(x)

6